{% extends "base.html" %}

{% block content %}
    <a type="button" href="{% url 'agents:agent-create' %}" class="btn btn-outline-primary mb-4">Create Agent</a>
    <div class="row">
        {% for agent in object_list %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ agent.user.first_name }} {{ agent.user.last_name }}</h5>
                    <p class="card-text"></p>
                    <a href="{% url 'agents:agent-detail' agent.pk %}" class="card-link">View</a>
                      <a href="{% url 'agents:agent-update' agent.pk %}" class="card-link">Update</a>
                    <a href="{% url 'agents:agent-delete' agent.pk %}" class="card-link">Delete</a>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
{% endblock content %}
